h1
{
    text-align: center;
    height: 14px;
}
.menu
{
    width:100px;
    text-align: center;
    background-color: red;
    font-family: Verdana;
    font-size: 14px;
    border-radius: 25px;
    border: solid black;
}
body
{
    background-color: tan;
}
#offset
{
    border: solid black;
}
#div1
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#table
{
    width: 100%;
}
#logout
{
    position: absolute;
    top: 0;
    right: 0;
    width:100px;
    background-color: red;
    border-color: red;
    font-weight: bold;
}
#ingredients
{
    background-color: white;
    position: relative;
}
#steps
{
    text-align: center;
    font-weight: bold;
}
#pot
{
    position: absolute;
    cursor: pointer;
    width: 100px;
    length: 100px;
    z-index: 1;
    top:400px;
    left:250px;
}
#penne
{
    postion: absolute;
    width: 100px;
    length: 100px;
    z-index: -1;
}
.img
{
    border: 1px solid black;
    width: 80px;
    length: 80px;
    cursor:pointer;
}
#skillet
{
   position: absolute;
    width: 100px;
    length: 100px;
    z-index: 1;
    top:440px;
    left:350px;
}
#pepper
{
    height: 70px;
    length: 70px;
    width: 70px;
}
#garlic
{
    height: 70px;
    length: 70px;
    width: 70px;  
}
#vodka
{
   height: 70px;
    length: 70px;
    width: 70px; 
}
#tomato
{
   height: 70px;
    length: 70px;
    width: 70px; 
}
#finishedpenne
{
    top:450px;
    left:440px;
    width: 60px;
    height: 60px;
    length: 60px;
    position: absolute;
    visibility: hidden;
}